{{#if reader}}
    <p id="reader" class="rightHome">{{reader.reader_first_name}} {{reader.reader_last_name}}</p>
{{else}}
    <input type="button" value="Sign Up" id="createUser" class="rightHome">
{{/if}}

<h1>My Books</h1>

{{#if rdr}}
<nav>
    <ul>
        <li><a href="myBooksAuthors?rdr={{rdr}}" >Authors</a>
        </li><li><a href="myBooksBooks?rdr={{rdr}}">Books</a>
        </li><li><a href="myBooksAddEdit?rdr={{rdr}}">Add</a>
        </li>
    </ul>
</nav>
{{else}}
<div id="loginDiv">
    <form class="tbl" id="loginForm" action="myBooksAuthors" method="post">
        <p class="tbl">
            <label class="tbl loginLabel" for="uNameInput">Username:</label>
            <input class="tbl" type="email" name="user" id="uNameInput" placeholder="(email)">
            <label class="tbl loginLabel" for="pWordInput">Password:</label>
            <input class="tbl" type="password" name="pass" id="pWordInput">
            <input class="tbl" type="submit" name="uPSubmit" value="login">
        </p>
    </form>
</div>
{{/if}}

{{#if noReader}}<h3>{{noReader}}</h3>{{/if}}

<p id="homeP">List the books you've read.<br />When you're at a bookseller, check here to make sure you haven't read it already.</p>
<div id="picFrame">
    {{#if error}}
        <h3>{{error}}</h3>
    {{else}}
        {{#if items}}
            {{#each items}}
                <img class="pics" src="/images/{{this.image}}" alt="{{this.image}}" width="400">
            {{/each}}
        {{else}}
            <h3>something, somewhere, has gone just a little bit wrong</h3>
        {{/if}}
    {{/if}}
</div>
    <div id="userModal" class="modal">
        <div class="modalContent">
            <span class="close"><strong>&times</strong></span>
            <form id="createUserForm" class="tbl" action="createUser" method="post">
                <input type="submit" disabled style="display: none" aria-hidden="true" />
                <input type="hidden" name="rdr" value="{{rdr}}" />
                <p class="tbl">
                    <label class="tbl" for="userLName">Last Name:</label>
                    <input class="tbl" type="text" name="uLName" maxlength="49" size="28" id="userLName" value="" required autofocus>
                </p>
                <p class="tbl">
                    <label class="tbl" for="userFName">First Name:</label>
                    <input class="tbl" type="text" name="uFName" maxlength="49" size="28" id="userFName" value="">
                </p>
                <p class="tbl">
                    <label class="tbl" for="userEMail">EMail:</label>
                    <input class="tbl" type="email" name="uEMail" maxlength="49" size="28" id="userEMail" value="" required>
                </p>
                <p class="tbl">
                    <label class="tbl" for="userPWord">Password:</label>
                    <input class="tbl" type="password" name="uPWord" maxlength="49" size="28" id="uPWord" value="" required>
                </p>
                <p class="tbl">
                    <label class="tbl" for="createUserButton"></label>
                    <input class="tbl" type="submit" value="Sign Up" id="createUserButton">
                    <input class="tbl" type="button" value="Dismiss" id="dismissButton">
                </p>
            </form>
        </div>
    </div>
<script type="text/javascript" src="/scripts/myBooksHome.js"></script>
