<h1>My Books</h1>

<nav>
    <ul>
        <li><a href="myBooksAuthors" >Authors</a>
        </li><li><a href="myBooksBooks">Books</a>
        </li><li><a href="myBooksAddEdit">Add</a>
        </li>
    </ul>
</nav>

<p id="homeP">List the books you've read.<br />When you're at a bookseller, check here to make sure you haven't read it already.</p>
<div id="picFrame">
    {{#if error}}
        <h3>{{error}}</h3>
    {{else}}
        {{#if items}}
            {{#each items}}
                <img class="pics" src="/images/{{this.image}}" alt="{{this.image}}" width="400">
            {{/each}}
        {{else}}
            <h3>something, somewhere, has gone just a little bit wrong</h3>
        {{/if}}
    {{/if}}
</div>
<script type="text/javascript" src="/scripts/myBooksHome.js"></script>
