{{#if reader}}<p id="reader">{{reader.reader_first_name}} {{reader.reader_last_name}}</p>{{/if}}

<h1>My Books</h1>

{{#if rdr}}
<nav>
    <ul>
        <li><a href="myBooksAuthors?rdr={{rdr}}" >Authors</a>
        </li><li><a href="myBooksBooks?rdr={{rdr}}">Books</a>
        </li><li><a href="myBooksAddEdit?rdr={{rdr}}">Add</a>
        </li>
    </ul>
</nav>
{{else}}
<div id="loginDiv">
    <form class="tbl" id="loginForm" action="myBooksAuthors" method="post">
        <p class="tbl">
            <label class="tbl loginLabel" for="uNameInput">Username:</label>
            <input class="tbl" type="email" name="user" id="uNameInput" placeholder="(email)">
            <label class="tbl loginLabel" for="pWordInput">Password:</label>
            <input class="tbl" type="password" name="pass" id="pWordInput">
            <input class="tbl" type="submit" name="uPSubmit" value="login">
        </p>
    </form>
</div>
{{/if}}

{{#if noReader}}<h3>{{noReader}}</h3>{{/if}}

<p id="homeP">List the books you've read.<br />When you're at a bookseller, check here to make sure you haven't read it already.</p>
<div id="picFrame">
    {{#if error}}
        <h3>{{error}}</h3>
    {{else}}
        {{#if items}}
            {{#each items}}
                <img class="pics" src="/images/{{this.image}}" alt="{{this.image}}" width="400">
            {{/each}}
        {{else}}
            <h3>something, somewhere, has gone just a little bit wrong</h3>
        {{/if}}
    {{/if}}
</div>
<script type="text/javascript" src="/scripts/myBooksHome.js"></script>
