{{#if reader}}<p id="reader">{{reader.reader_first_name}} {{reader.reader_last_name}}</p>{{/if}}

<h1><a href="/?rdr={{rdr}}">My Books</a></h1>

<nav>
    <ul>
        <li ><a href="myBooksAuthors?rdr={{rdr}}" >Authors</a>
        </li><li class="current"><a href="#">Books</a>
        </li><li><a href="myBooksAddEdit?rdr={{rdr}}">Add</a>
        </li>
        <li class="current" id="filterItem">
            {{#if classes}}
                <form id="classFilterForm" action="myBooksBooks" method="post">
                    <select class="tbl" name="class" id="classFilter">
                        {{#each classes}}
                            <option value="{{this.class_id}}" title="{{this.class_description}}"
                            {{#if this.slctd}}
                                {{this.slctd}}
                            {{/if}}
                            >{{this.class_name}}</option>
                        {{/each}}
                    </select>
                    <input type="hidden" name="rdr" value="{{rdr}}" />
                </form>
            {{else}}
                something, somewhere, has gone just a little bit wrong
            {{/if}}
        </li>
    </ul>
</nav>
<div>
    {{#if error}}
        <h3>{{error}}</h3>
    {{else}}
        {{#if books}}
            <p><strong>Books:</strong> {{length}} currently listed. 
                {{#if message}}
                    <span>{{message}}</span>
                {{/if}}
            </p>
            <ul>
                {{#each books}}
                    <li>
                        <p class='book'>
                            <a href="thisBook?rdr={{../rdr}}&isbn={{this.isbn}}">{{this.book_title}}</a> 
                            by <a href="thisAuthor?rdr={{../rdr}}&authorid={{this.author_id}}">{{this.author_first_name}} {{this.author_mid_name}} {{this.author_last_name}}</a>
                        </p>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <h3>No books listed.</h3>
        {{/if}}
    {{/if}}
</div>
<script type="text/javascript" src="/scripts/myBooksBooks.js"></script>
