<h1><a href="/">My Books</a></h1>

<nav>
    <ul>
        <li ><a href="myBooksAuthors" >Authors</a>
        </li><li class="current"><a href="#">Books</a>
        </li><li><a href="myBooksAddEdit">Add</a>
        </li><li id='criteria' class="current"><a href="myBooksLinks">CRITERIA</a>
        </li>
    </ul>
</nav>
<div>
    {{#if error}}
        <h3>{{error}}</h3>
    {{else}}
        {{#if books}}
            <p><strong>Books:</strong> {{length}} currently listed.</p>
            <ul>
                {{#each books}}
                    <li>
                        <p class='book'>
                            <a href="thisBook?isbn={{this.isbn}}">{{this.title}}</a> 
                            by <a href="thisAuthor?authorid={{this.author_id}}">{{this.first_name}} {{this.last_name}}</a>
                        </p>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <h3>something, somewhere, has gone just a little bit wrong</h3>
        {{/if}}
    {{/if}}
</div>