    <h1><a href="/">My Books</a></h1>
    
    <nav>
      <ul>
        <li><a href="myBooksAuthors" >Authors</a>
        </li><li><a href="myBooksBooks">Books</a>
        </li><li><a href="myBooksAddEdit">Add</a>
        </li>
      </ul>
    </nav>
    <div>
        {{#if error}}
            <h3>{{error}}</h3>
        {{else}}
            {{#if book}}
                <h3 data-isbn="{{book.isbn}}" id="thisBook">{{book.book_title}}</h3>
                {{#if author}}
                        <p class='author'>By
                            <a href="thisAuthor?authorid={{book.author_id}}">{{author.author_first_name}} {{author.author_mid_name}} {{author.author_last_name}}</a>
                        </p>
                {{/if}}
                {{#if book.orig_pub_date}}
                    <p>Published in {{book.orig_pub_date}}</p>
                {{/if}}
                {{#if book.class_name}}
                    <p>Classified as: {{book.class_name}}</p>
                {{/if}}
                <p>ISBN: {{book.isbn}}</p>
            {{else}}
                <h3>something, somewhere, has gone just a little bit wrong</h3>
            {{/if}}
        {{/if}}
    </div>
    <div>
        <input type="button" value="Delete This Book" id="deleteBook">
        <p id="demo"></p>
    </div>
    <script type="text/javascript" src="/scripts/thisBook.js"></script>
