    {{#if reader}}<p id="reader">{{reader.reader_first_name}} {{reader.reader_last_name}}</p>{{/if}}
    
    <h1><a href="/?rdr={{rdr}}">My Books</a></h1>
    
    <nav>
      <ul>
        <li><a href="myBooksAuthors?rdr={{rdr}}" >Authors</a>
        </li><li><a href="myBooksBooks?rdr={{rdr}}">Books</a>
        </li><li><a href="myBooksAddEdit?rdr={{rdr}}">Add</a>
        </li>
      </ul>
    </nav>
    <div>
        {{#if error}}
            <h3>{{error}}</h3>
        {{else}}
            {{#if book}}
                <h3 data-isbn="{{book.isbn}}" id="thisBook">{{book.book_title}}</h3>
                <p class='author'>By
                    <a href="thisAuthor?authorid={{book.author_id}}">{{book.author_first_name}} {{book.author_mid_name}} {{book.author_last_name}}</a>
                </p>
                {{#if book.orig_pub_date}}
                    <p>Published in {{book.orig_pub_date}}</p>
                {{/if}}
                {{#if book.class_name}}
                    <p>Classified as: {{book.class_name}}</p>
                {{/if}}
                <p>ISBN: {{book.isbn}}</p>
            {{else}}
                <h3>something, somewhere, has gone just a little bit wrong</h3>
            {{/if}}
        {{/if}}
    </div>
    <div>
        <input type="button" value="Edit This Book" id="editBook">
        <input type="button" value="Delete This Book" id="deleteBook">
        {{#if added}}
            <p id="demo">{{message}}</p>
        {{else}}
            <p id="demo"></p>
        {{/if}}
    </div>
    <div id="bookModal" class="modal">
        <div class="modalContent">
            <span class="close"><strong>&times</strong></span>
            <form id="editBookForm" class="tbl" action="thisBook?isbn={{book.isbn}}" method="post">
                <input type="submit" disabled style="display: none" aria-hidden="true" />
                <input type="hidden" name="rdr" value="{{rdr}}" />
                <p class="tbl">
                    <label class="tbl" for="isbnInput">ISBN:</label>
                    <input class="tbl" type="text" name="isbn" maxlength="19" size="19" id="isbnInput" value="{{book.isbn}}" readonly>
                </p>
                <p class="tbl">
                    <label class="tbl" for="titleInput">Title:</label>
                    <input class="tbl" type="text" name="title" maxlength="60" size="45" id="titleInput" value="{{book.book_title}}" required autofocus>
                </p>
                <p class="tbl">
                    <label class="tbl" for="authorInput">Author:</label>
                    <input class="tbl" list="authors" name="author" maxlength="60" size="45" id="authorInput" value="{{book.author_last_name}}, {{book.author_first_name}} {{book.author_mid_name}}" required>
                    {{#if error}}
                        {{error}}
                    {{else}}
                        {{#if authors}}
                            <datalist id="authors">
                                {{#each authors}}
                                    <option data-author_id="{{this.author_id}}" value="{{this.author_last_name}}, {{this.author_first_name}} {{this.author_mid_name}}"></option>
                                {{/each}}
                            </datalist>
                        {{/if}}
                    {{/if}}
                    <input type="hidden" name="author_id" value="{{book.author_id}}">
                </p>
            <p class="tbl">
                <label class="tbl" for="classInput">Classification:</label>
                    {{#if error}}
                        {{error}}
                    {{else}}
                        {{#if classes}}
                            <select class="tbl" name="class" id="classInput" data-class_id="{{book.class_id}}">
                                {{#each classes}}
                                    <option value="{{this.class_id}}">{{this.class_name}}</option>
                                {{/each}}
                                <option value="0" selected></option>
                            </select>
                        {{else}}
                            something, somewhere, has gone just a little bit wrong
                        {{/if}}
                    {{/if}}
            </p>
            <p class="tbl">
                <label class="tbl" for="ratingInput">Rating:</label>
                    {{#if error}}
                        {{error}}
                    {{else}}
                        {{#if ratings}}
                            <select class="tbl" name="rating" id="ratingInput">
                                {{#each ratings}}
                                    <option value="{{this.book_rate_id}}">{{this.book_rate_description}}</option>
                                {{/each}}
                                <option value='0' selected></option>
                            </select>
                        {{else}}
                            something, somewhere, has gone just a little bit wrong
                        {{/if}}
                    {{/if}}
            </p>
            <p class="tbl">
                <label class="tbl" for="pubInput">Year of Publication:</label>
                <input class="tbl" type="number" name="orig_pub_date" min="1000" max="2088" id="pubInput" value="{{book.orig_pub_date}}" required>
            </p>
            <p class="tbl">
                <label class="tbl" for="addEditButton"></label>
                <input class="tbl" type="submit" value="Edit This Book" id="editButton">
                <input class="tbl" type="button" value="Dismiss" id="dismissButton">
            </p>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/scripts/thisBook.js"></script>
